.btn {
    background-color: $light-color;
    color: $primary-color;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: 2px solid $primary-color;
    outline: none;
    letter-spacing: 2px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    &:hover {
        background-color: $primary-color;
        color: $light-color;
    }

    &-primary {
        //.btn-primary
        background-color: $primary-color;
        color: $light-color;

        &:hover {
            //.btn-primary:hover
            background-color: $light-color;
            color: $primary-color;
        }

    }

}